@import "variables.scss";

.desc_container{
    width:100%;background-color:$darkColor;display:flex;
    flex-direction: column;align-items: center;text-align: center;height:100vh * 1.5;
    justify-content: center;
}
.desc_items_container{
    display:flex;width:40rem;justify-content: space-between;margin:0
}
.desc_text{
    font-size:1rem;height:20rem;margin:0;
    color:white;font-family:eurostile, sans-serif;align-items: flex-start;text-align: left;
}

.my_pic{
    width:20rem;height:20rem;align-self: center;
    border-radius:.5rem;box-shadow: 10px 10px 86px -19px rgba(146, 144, 144, 0.75);
} 

.desc_title{
    font-size:1.5rem;font-weight:bold;color:$primaryColor;padding:0;margin:0;
    letter-spacing:.1rem;
}
.desc_paragraph{
    color:white;max-width:15rem;text-align:left;
}

@media screen and (max-width:$lg) {
    .desc_items_container{
        width:20rem;flex-direction: column;justify-content:center;align-items: center;
    }
    .desc_container{
        align-items: center;height:60rem;
    }
    .desc_text{
        text-align: center;font-size:1.4rem;font-size: 1rem;
    }
    .desc_paragraph{
        text-align: center;margin:0 auto;margin-top: 1rem;
    }
    .my_pic{
        width:12rem;height:12rem;margin-top:1rem
    }
}