@import "variables.scss";

.desc_container{
    width:100%;background-color:$darkColor;display:flex;
    flex-direction: column;align-items: center;text-align: center;height:100vh * 1.5;
    justify-content: center;
}
.desc_items_container{
    display:flex;width:40rem;justify-content: space-between;margin:0
}
.desc_text{
    font-size:1rem;height:20rem;margin:0;
    color:white;font-family:eurostile, sans-serif;align-items: flex-start;text-align: left;
}

.my_pic{
    width:20rem;height:20rem;align-self: center;
    border-radius:.5rem;box-shadow: 10px 10px 86px -19px rgba(146, 144, 144, 0.75);
} 

@media screen and (max-width:420px) {
    .my_pic{
        width:10rem;height:10rem
    } 
    .desc_text{
        font-size:1.2rem;width:20rem;min-height:30rem;align-self: center;color:white;font-family:eurostile, sans-serif
    }
}

.desc_title{
    font-size:1.5rem;font-weight:bold;color:$primaryColor;padding:0;margin:0;
    letter-spacing:.1rem;
}
.desc_paragraph{
    color:white;max-width:15rem;text-align:left;
}